.project-update-wrapper{
    display: flex;
}


.project-update {
    flex-grow: 1;
    width: 70%;
    margin: 20px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

.project-update h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-project-btn {
    margin-bottom: 20px;
    background-color: #f9004d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-project-btn:hover {
    background-color: #e00047;
}

.add-project-form {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9004d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e00047;
}

.projects-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 20px;
}

.projects-table th, .projects-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.projects-table th {
    background-color: #f9004d;
    color: white;
}

.projects-table .project-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.delete-column {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.delete-btn,
.edit-btn {
    background-color: #f9004d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.delete-btn:hover,
.edit-btn:hover {
    background-color: #e00047;
}

.projects-table td a {
    color: blue;
}

.edit-btn {
    background-color: #4CAF50;
}

.edit-btn:hover {
    background-color: #45a049;
}
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
